openapi: 3.0.0
info:
  title: Auth API + WebSocket Chat
  version: 1.0.1
  description: |
    Документация по авторизации и WebSocket чату.

servers:
  - url: https://api.extraspace.kz

paths:
  /logout:
    get:
      tags:
        - Auth
      summary: Выход из аккаунта
      description: Удаляет JWT токен из cookies, тем самым выполняя logout пользователя.
      responses:
        '200':
          description: Успешный выход
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Успешный выход.
        '500':
          description: Внутренняя ошибка сервера
  /auth/google:
    get:
      summary: Авторизация через Google
      tags:
        - Auth
      description: Редиректит на Google OAuth
      responses:
        '302':
          description: Редирект на Google

  /auth/google/callback:
    get:
      summary: Callback после Google OAuth
      tags:
        - Auth
      responses:
        '302':
          description: Редирект на главную страницу при успехе или неудаче

  /auth/email:
    post:
      summary: Проверка email — зарегистрирован или нет
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  example: user@example.com
      responses:
        '200':
          description: Информация о наличии пользователя
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_exists:
                    type: boolean
                  email:
                    type: string
        '400':
          description: Email не передан
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation error
                  message:
                    type: string
                    example: Email is required
        '500':
          description: Внутренняя ошибка

  /auth/login:
    post:
      summary: Логин пользователя
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: mypassword123
      responses:
        '200':
          description: Успешный логин
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Ошибка валидации или неверные данные
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation error
                  details:
                    type: array
                    example:
                      [{
                        "field": "password",
                        "message": "Required"
                      }]
        '401':
          description: Ошибка аутентификций
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  details:
                    type: array
                    example:
                      [ {
                        "message": "Invalid email or password"
                      } ]

  /auth/register:
    post:
      summary: Регистрация пользователя
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, unique_code]
              properties:
                email:
                  type: string
                  example: user@example.com
                unique_code:
                  type: string
                  example: "123456"
                password:
                  type: string
                  example: mypassword123
      responses:
        '201':
          description: Успешная регистрация
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
        '400':
          description: Ошибка валидации или неверные данные
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation error
                  details:
                    type: array
                    example:
                      [ {
                        "field": "password",
                        "message": "Required"
                      } ]
        '401':
          description: Ошибка авторизаций
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  details:
                    type: array
                    example:
                      [ {
                        "message": "Invalid email or password"
                      } ]
  /chats/{chatId}/messages:
    get:
      tags:
        - Chat
      summary: Получить сообщения чата с пагинацией
      parameters:
        - in: path
          name: chatId
          required: true
          schema:
            type: integer
        - in: query
          name: beforeId
          schema:
            type: integer
          description: Вернуть сообщения до указанного ID
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
          description: Максимум сообщений
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  hasMore:
                    type: boolean
    delete:
      summary: Удалить все сообщения
      tags:
        - Chat
      parameters:
        - in: path
          name: chatId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно

  /chats/{chatId}/manager:
    put:
      summary: Назначить менеджера
      tags:
        - Chat
      parameters:
        - in: path
          name: chatId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newManagerId]
              properties:
                newManagerId:
                  type: integer
      responses:
        '200':
          description: OK

  /auth/check-email:
    post:
      tags:
        - Auth
      summary: Проверка существования email
      description: Это нужно для отправить перед восстановление пароля.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Успешная проверка email
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_exists:
                    type: boolean
                  email:
                    type: string
        "400":
          description: Email не передан
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation error
                  details:
                    type: array
                    example:
                      [ {
                        "field": "password",
                        "message": "Required"
                      } ]

  /auth/restore-password:
    post:
      summary: Восстановление пароля
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - unique_code
                - password
              properties:
                email:
                  type: string
                  format: email
                unique_code:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Пароль успешно восстановлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Ошибка валидации или неправильный код
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation error
                  details:
                    type: array
                    example:
                      [ {
                        "field": "password",
                        "message": "Required"
                      } ]
        '401':
          description: Ошибка аутентикаций
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  details:
                    type: array
                    example:
                      [ {
                        "message": "Invalid email or password"
                      } ]
        "500":
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
  /faq:
    get:
      tags:
        - FAQ
      summary: Получить все вопросы FAQ
      responses:
        '200':
          description: Список FAQ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FAQ'

    post:
      tags:
        - FAQ
      summary: Создать новый FAQ (только для ADMIN и MANAGER)
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FAQInput'
      responses:
        '201':
          description: FAQ успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQ'
        "400":
          description: Ошибка валидации тела запроса
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation error
                  details:
                    type: array
                    example:
                      [ {
                        "field": "question",
                        "message": "Question is required"
                      } ]
        '403':
          description: Доступ запрещён

  /faq/{id}:
    get:
      tags:
        - FAQ
      summary: Получить FAQ по ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Найденный FAQ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQ'
        '404':
          description: Не найден

    put:
      tags:
        - FAQ
      summary: Обновить FAQ по ID (только для ADMIN и MANAGER)
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FAQUpdate'
      responses:
        '200':
          description: Обновление прошло успешно
        '404':
          description: Не найден

    delete:
      tags:
        - FAQ
      summary: Удалить FAQ по ID (только для ADMIN и MANAGER)
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Удаление прошло успешно
        '404':
          description: Не найден

  /services:
    get:
      tags:
        - Service
      summary: Получить все цены
      responses:
        200:
          description: Список всех цен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
    post:
      tags:
        - Service
      summary: Создать новую цену (только для ADMIN и MANAGER)
      security:
        - cookieAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDto'
      responses:
        201:
          description: Успешное создание
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        400:
          description: Неверные данные или цена уже существует

  /services/{type}:
    get:
      tags:
        - Service
      summary: Получить цену по типу
      parameters:
        - in: path
          name: type
          required: true
          schema:
            $ref: '#/components/schemas/ServiceType'
      responses:
        200:
          description: Найденная цена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        400:
          description: Неверный тип
        404:
          description: Цена не найдена

  /services/{id}:
    put:
      tags:
        - Service
      summary: Обновить цену (только для ADMIN и MANAGER)
      security:
        - cookieAuth: [ ]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceDto'
      responses:
        200:
          description: Успешное обновление
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated:
                    type: integer
        400:
          description: Неверный ID
        404:
          description: Цена не найдена

    delete:
      tags:
        - Service
      summary: Удалить цену (только для ADMIN и MANAGER)
      security:
        - cookieAuth: [ ]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное удаление
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: integer
        400:
          description: Неверный ID
        404:
          description: Цена не найдена

  /users:
    get:
      tags:
        - User
      summary: Get all users (ADMIN и MANAGER)
      security:
        - cookieAuth: [ ]
      responses:
        200:
          description: List of users
        403:
          description: Forbidden (Admin only)
        401:
          description: Unauthorized (no token)

  /users/me:
    get:
      tags:
        - User
      summary: Get user info
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: User found
        404:
          description: User not found
        401:
          description: Unauthorized

    put:
      tags:
        - User
      summary: Update user
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
      responses:
        200:
          description: User updated
        400:
          description: Validation or bad request
        404:
          description: User not found
        401:
          description: Unauthorized

    delete:
      tags:
        - User
      summary: Delete user
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: User deleted
        404:
          description: User not found
        401:
          description: Unauthorized
  /users/{userId}/role:
    patch:
      summary: Обновление роли по userId
      tags:
        - User
      security:
        - cookieAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [ ADMIN, USER, MANAGER, COURIER ]
              required:
                - role
      responses:
        '200':
          description: Роль успешно обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated:
                    type: boolean
                    example: true
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation error
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          example: role
                        message:
                          type: string
                          example: Invalid enum value
        '401':
          description: Нет токена авторизации или токен неверный
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Неверный токен.
        '403':
          description: Доступ запрещён. Только для Admin и MANAGER.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Доступ запрещён. Только для Admin и MANAGER.
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User not found
  /warehouses:
    post:
      tags:
        - Warehouse
      summary: Create a new warehouse (Admin and MANAGER)
      security:
        - cookieAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseDto'
      responses:
        201:
          description: Warehouse created successfully
        400:
          description: Bad request (validation error or other issues)
        401:
          description: Unauthorized (no token)
        403:
          description: Forbidden (only for Admin)

    get:
      tags:
        - Warehouse
      summary: Get all warehouses
      responses:
        200:
          description: List of all warehouses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WarehouseWithStorage'

  /warehouses/{id}:
    get:
      tags:
        - Warehouse
      summary: Get warehouse by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Warehouse found
        404:
          description: Warehouse not found
        401:
          description: Unauthorized (no token)

    put:
      tags:
        - Warehouse
      summary: Update warehouse by ID (Admin and MANAGER)
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseUpdateDto'
      responses:
        200:
          description: Warehouse updated successfully
        400:
          description: Bad request (validation error)
        404:
          description: Warehouse not found
        401:
          description: Unauthorized (no token)
        403:
          description: Forbidden (only for Admin)
  /orders:
    get:
      summary: Получить все заказы
      tags: [ Order ]
      security:
        - cookieAuth: [ ]
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'

    post:
      summary: Создать новый заказ
      tags: [ Order ]
      security:
        - cookieAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderDto'
      responses:
        '201':
          description: Заказ успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/me:
    get:
      summary: Получить заказы текущего пользователя
      tags: [ Order ]
      security:
        - cookieAuth: [ ]
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'

    put:
      summary: Обновить заказ текущего пользователя
      tags: [ Order ]
      security:
        - cookieAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderDto'
      responses:
        '200':
          description: Заказ обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated:
                    type: integer

  /orders/{id}:
    get:
      summary: Получить заказ по ID
      tags: [ Order ]
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Информация о заказе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

    delete:
      summary: Удалить заказ
      tags: [ Order ]
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешное удаление
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: integer

  /{id}/status:
    put:
      summary: Обновить статус заказа
      tags: [ Order ]
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusDto'
      responses:
        '200':
          description: Статус успешно обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object

  /orders/extend:
    post:
      summary: Продление заказа
      description: Позволяет продлить заказ на заданное количество месяцев. Если `is_extended` = false, продление отменяется.
      tags: [ Order ]
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_extended:
                  type: boolean
                  description: Флаг продления заказа
                  example: true
                order_id:
                  type: integer
                  description: ID заказа (если is_extended = true)
                  example: 123
                months:
                  type: integer
                  description: Количество месяцев продления (если is_extended = true)
                  minimum: 1
                  example: 2
              required:
                - is_extended
      responses:
        '200':
          description: Успешное продление заказа
        '400':
          description: Ошибка валидации или бизнес-логики
        '403':
          description: Доступ запрещён
        '404':
          description: Заказ не найден
        '500':
          description: Внутренняя ошибка сервера

  /payments/me:
    get:
      summary: Получить все оплаты текущего пользователя
      tags: [ Payment ]
      security:
        - cookieAuth: [ ]
      responses:
        '200':
          description: Список заказов и платежей пользователя
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderWithPayments'

  /payments/{order_payment_id}/receipt:
    get:
      tags: [Payment]
      summary: Получить PDF-чек по идентификатору платежа
      description: |
        Возвращает PDF-документ с чеком для указанного платежа.
        Чек будет отображен непосредственно в браузере (inline).
      parameters:
        - name: order_payment_id
          in: path
          required: true
          description: Идентификатор платежа
          schema:
            type: string
            format: uuid
            example: "05ca113a-6662-49e3-b8eb-f0c68ea7ceb8"
      responses:
        '200':
          description: Успешный запрос. Возвращает PDF-документ.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
              description: |
                Имя файла для сохранения. Формат: `inline; filename="check-{order_payment_id}.pdf"`
                example: 'inline; filename="check-05ca113a-6662-49e3-b8eb-f0c68ea7ceb8.pdf"'
        '400':
          description: Неверный запрос или транзакция не найдена
        '401':
          description: Не авторизован

  /users/{id}:
    get:
      summary: Получить все оплаты по пользователю (admin/manager)
      tags: [ Payment ]
      security:
        - cookieAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Список заказов с платежами
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderWithPayments'
        '400':
          description: Неверный ID

  /payments:
    post:
      summary: Создать оплату по заказу
      tags: [ Payment ]
      security:
        - cookieAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentDto'
      responses:
        '201':
          description: Успешное создание оплаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '409':
          description: Заказ не подтвержден / другой конфликт

  /payments/manual:
    post:
      summary: Создать ручную оплату
      tags: [ Payment ]
      security:
        - cookieAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPaymentDto'
      responses:
        '200':
          description: Успешная ручная оплата
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Ошибка валидации или состояния оплаты
        '403':
          description: Нет доступа
        '404':
          description: Оплата не найдена


security:
  - cookieAuth: []
# --- WebSocket documentation section (non-standard) ---
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: token
  schemas:
    PaymentResponse:
      type: object
      properties:
        payment_id:
          type: integer
        order_id:
          type: string
        payment_type:
          type: string
        payment_method:
          type: string
        payment_status:
          type: string
        recurrent_token:
          type: string
        amount:
          type: number
        amount_initial:
          type: number
        currency:
          type: string
        captured_details:
          type: object
        cancel_details:
          type: object
        created_date:
          type: string
        payer_info:
          type: object
          properties:
            email:
              type: string
        payment_page_url:
          type: string
        wallet_identifier:
          type: object

    PaymentDto:
      type: object
      required: [ order_id ]
      properties:
        order_id:
          type: integer
          minimum: 1

    OrderPaymentDto:
      type: object
      required: [ order_payment_id ]
      properties:
        order_payment_id:
          type: integer
          minimum: 1

    OrderWithPayments:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        storage_id:
          type: integer
        total_volume:
          type: integer
        total_price:
          type: integer
        start_date:
          format: date-time
        end_date:
          format: date-time
        contract_status:
          enum: [ UNSIGNED, SIGNED ]
        payment_status:
          enum: [ UNPAID, PAID ]
        status:
          enum: [ INACTIVE, APPROVED, PROCESSING, ACTIVE ]
        box_amount:
          type: integer
        cargo_mark:
          enum: [ NO, HEAVY, FRAGILE ]
        product_names:
          type: string
        created_at:
          format: date-time
        order_payment:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              order_id:
                type: integer
              month:
                type: integer
              year:
                type: integer
              amount:
                type: number
              status:
                enum: [ PAID, UNPAID, MANUAL ]
              paid_at:
                format: date-time
              payment_id:
                type: string
              penalty_amount:
                type: integer
    Order:
      type: object
      properties:
        id:
          type: integer
          example: 29
        storage_id:
          type: integer
          example: 12
        user_id:
          type: integer
          example: 2
        total_volume:
          type: string
          example: "5"
        total_price:
          type: string
          example: "500.00"
        start_date:
          type: string
          format: date-time
          example: "2025-06-19T12:19:33.670Z"
        end_date:
          type: string
          format: date-time
          example: "2025-07-19T12:19:33.670Z"
        contract_status:
          type: string
          enum: [ SIGNED, UNSIGNED ]
          example: "UNSIGNED"
        payment_status:
          type: string
          enum: [ PAID, UNPAID ]
          example: "UNPAID"
        status:
          type: string
          enum: [ ACTIVE, INACTIVE, APPROVED ]
          example: "INACTIVE"
        created_at:
          type: string
          format: date
          example: "2025-06-19"
        storage:
          type: object
          properties:
            id:
              type: integer
              example: 12
            warehouse_id:
              type: integer
              example: 2
            name:
              type: string
              example: "11A"
            storage_type:
              type: string
              enum: [ INDIVIDUAL, RACK, CLOUD ]
              example: "INDIVIDUAL"
            description:
              type: string
              example: "individual storage"
            image_url:
              type: string
              format: uri
              example: "https://"
            height:
              type: string
              example: "3"
            total_volume:
              type: string
              example: "5.00"
            available_volume:
              type: string
              example: "0.00"
            status:
              type: string
              enum: [ AVAILABLE, OCCUPIED, PENDING ]
              example: "PENDING"
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 4
              order_id:
                type: integer
                example: 29
              name:
                type: string
                example: "Wooden Crate"
              volume:
                type: string
                example: "1.00"
              cargo_mark:
                type: string
                enum: [ NO, HEAVY, FRAGILE ]
                example: "HEAVY"

    CreateOrderDto:
      type: object
      required:
        - storage_id
        - months
        - order_items
      properties:
        storage_id:
          type: integer
        months:
          type: integer
          minimum: 1
        order_items:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - name
              - volume
              - cargo_mark
            properties:
              name:
                type: string
                minLength: 1
              volume:
                type: number
                exclusiveMinimum: 0
              cargo_mark:
                type: string
                enum: [ NO, HEAVY, FRAGILE ]

    UpdateOrderDto:
      allOf:
        - $ref: '#/components/schemas/CreateOrderDto'
      description: Частичное обновление разрешено

    UpdateOrderStatusDto:
      type: object
      required: [ status ]
      properties:
        status:
          type: string
          enum: [ INACTIVE, APPROVED, ACTIVE ]
    WarehouseWithStorage:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: warehouse 1
        address:
          type: string
          example: warehouse 1 address
        latitude:
          type: string
          example: "14.14000000"
        longitude:
          type: string
          example: "14.14000000"
        work_start:
          type: string
          format: time
          example: "08:00:00"
        work_end:
          type: string
          format: time
          example: "19:00:00"
        status:
          type: string
          enum: [ AVAILABLE, UNAVAILABLE ]
          example: AVAILABLE
        storage:
          type: array
          items:
            $ref: '#/components/schemas/StorageUnit'

    StorageUnit:
      type: object
      properties:
        id:
          type: integer
          example: 3
        warehouse_id:
          type: integer
          example: 1
        name:
          type: string
          example: IND-A2
        storage_type:
          type: string
          enum: [ INDIVIDUAL, CLOUD ]
          example: INDIVIDUAL
        description:
          type: string
          example: des
        image_url:
          type: string
          format: uri
          example: https://image
        height:
          type: string
          example: "3"
        total_volume:
          type: string
          example: "25.00"
        available_volume:
          type: string
          example: "25.00"
        status:
          type: string
          enum: [ VACANT, OCCUPIED ]
          example: VACANT
    Message:
      type: object
      properties:
        id:
          type: integer
        chat_id:
          type: integer
        sender_id:
          type: integer
        message:
          type: string
        is_from_user:
          type: boolean
        created_at:
          type: string
          format: date-time

    Chat:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        manager_id:
          type: integer
        created_at:
          type: string
          format: date-time

    WebSocketMessage:
      type: object
      required: [type]
      properties:
        type:
          type: string
          example: START_CHAT
        userId:
          type: integer
          example: 5
        chatId:
          type: integer
          example: 1
        senderId:
          type: integer
          example: 5
        message:
          type: string
          example: "Привет!"
        isFromUser:
          type: boolean
          example: true
        managerId:
          type: integer
          example: 2

    FAQ:
      type: object
      properties:
        id:
          type: integer
          example: 1
        question:
          type: string
          example: "Как арендовать склад?"
        answer:
          type: string
          example: "Вы можете оставить заявку через сайт или связаться с менеджером."
        type:
          type: string
          example: "general"

    FAQInput:
      type: object
      required:
        - question
        - answer
        - type
      properties:
        question:
          type: string
          example: "Как оплатить аренду?"
        answer:
          type: string
          example: "Через личный кабинет или в отделении."
        type:
          type: string
          example: "payment"

    FAQUpdate:
      type: object
      properties:
        question:
          type: string
          example: "Обновленный вопрос"
        answer:
          type: string
          example: "Обновленный ответ"
        type:
          type: string
          example: "general"

    ServiceType:
      type: string
      enum:
        - INDIVIDUAL
        - CLOUD
        - RACK
        - MOVING

    ServiceDto:
      type: object
      required:
        - type
        - amount
      properties:
        type:
          $ref: '#/components/schemas/ServiceType'
        amount:
          type: number
          format: float
          minimum: 0.01

    UpdateServiceDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ServiceType'
        amount:
          type: number
          format: float
          minimum: 0.01

    Service:
      type: object
      properties:
        id:
          type: integer
        type:
          $ref: '#/components/schemas/ServiceType'
        amount:
          type: number

    UpdateUserDto:
      type: object
      properties:
        name:
          type: string
          example: "John Doe"
        email:
          type: string
          example: "user@example.com"
        phone:
          type: string
          example: "+77011234567"
        iin:
          type: string
          example: "010101123456"

    WarehouseDto:
      type: object
      properties:
        name:
          type: string
          example: "Main Warehouse"
        address:
          type: string
          example: "123 Main St, City, Country"
        status:
          type: string
          enum:
            - AVAILABLE
            - UNAVAILABLE
          example: "AVAILABLE"

    WarehouseUpdateDto:
      type: object
      properties:
        name:
          type: string
          example: "Updated Warehouse Name"
        address:
          type: string
          example: "456 Updated St, City, Country"
        status:
          type: string
          enum:
            - AVAILABLE
            - UNAVAILABLE
          example: "UNAVAILABLE"
        work_start:
          type: string
          format: time
          example: "10:00"
        work_end:
          type: string
          format: time
          example: "19:00"
x-websocket:
  url: ws://localhost:3000?userId={userId}
  description: |
    WebSocket сервер для чатов.
    При подключении необходимо передать `userId` в query параметрах.

    **Типы входящих сообщений (от клиента):**
    - `START_CHAT`: создать чат
    - `SEND_MESSAGE`: отправить сообщение
    - `ACCEPT_CHAT`: менеджер принимает чат

    **Типы исходящих сообщений (от сервера):**
    - `WAITING_FOR_MANAGER`: ожидание ответа менеджера
    - `NEW_CHAT`: уведомление менеджерам о новом чате
    - `CHAT_ACCEPTED`: чат принят
    - `NEW_MESSAGE`: новое сообщение
    - `CHAT_TAKEN`: чат уже принят другим менеджером

  examples:
    START_CHAT:
      summary: Начать чат
      value:
        type: START_CHAT
        userId: 5

    SEND_MESSAGE:
      summary: Отправка сообщения
      value:
        type: SEND_MESSAGE
        chatId: 1
        senderId: 5
        message: "Привет!"
        isFromUser: true

    ACCEPT_CHAT:
      summary: Принятие чата
      value:
        type: ACCEPT_CHAT
        chatId: 1
        managerId: 2
